In [2]:
from azureml.core.authentication import InteractiveLoginAuthentication
credentials = InteractiveLoginAuthentication()
from azureml.core import Workspace
ws = Workspace.from_config(auth=credentials)

In [3]:
from azureml.core import Dataset
dataset_name = 'Titanic'

# Get a dataset by name
titanic_ds = Dataset.get_by_name(workspace=ws, name=dataset_name)

# Load a TabularDataset into pandas DataFrame
train_df = titanic_ds.to_pandas_dataframe()

In [4]:
train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

In [7]:
ports = train_df.Embarked.unique()
print('Ports', cabins)

Cabin categories ['S' 'C' 'Q' None]